html,
body {
  width: 100%;
  overflow-x: hidden;
}

.sign-google-btn {
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.3);
}

.hero-1 {
  position: absolute;
  z-index: -1;
  top: 0;
}
.hero-2 {
  position: absolute;
  z-index: -4;
  top: 0;
  right: 0;
}
.hero-3 {
  z-index: -2;
}
.hero-4 {
  z-index: 1;
}
.hero-5 {
  z-index: -5;
}

.secdiv {
  z-index: -5;
}
.shadow-spread-md {
  box-shadow: 2px 3px 20px 2px rgba(0, 0, 0, 0.3);
}
.contact-div-shadow {
  box-shadow: 2px 3px 20px 2px rgba(0, 0, 0, 0.3);
}
.instructions li::marker {
  color: black;
  font-weight: bold;
}

.event-container {
  padding-left: 20rem;
}

.legal-1 a {
  color: #2719c5;
  font-weight: bold;
}
.legal-1 a.normal {
  font-weight: normal;
}

.defaults .Toastify__close-button * {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  fill: #ffff;
  fill-opacity: 1;
}
.defaults {
  color: #fff;
}
.error {
  background-color: #ff7878;
  background-image: linear-gradient(315deg, #ff7878 0%, #ff0000 80%);
}
.success {
  background-color: #8fff78;
  background-image: linear-gradient(315deg, #8fff78 0%, #00ff00 80%);
}
.info {
  background-color: #78fff4;
  background-image: linear-gradient(315deg, #78fff4 0%, #00d9ff 80%);
}


.defaults .Toastify__toast-icon i svg {
  width: 1.5rem;
  height: 1.5rem;
}

.defaults .Toastify__progress-bar{
  background: #BBBB;
}


